<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargamos</title>
</head>
<body>
    <h1>
        Alumnos de Cargamos
    </h1>
    <ul>
        {% for item in alumnos %}
            <li>{{item.nombre}} - {{item.Apellido}} </li>
            <img src="{{item.picture}}" alt="{{item.nombre}}" width="200px">
        {% endfor %}
    </ul>
</body>
</html>